
.mainHeading{
   
   color: rgb(28, 10, 10);
   text-align: center;
    
}

.container1{
    display: flex;
    flex-direction: row;
    
    width: 98%;
    height: 500px;
    background-color: rgb(208, 91, 91);
    margin-bottom: 50px;
    border: 10px solid rgb(204, 50, 140);

}
.container2{
    display: flex;
    flex-direction: row-reverse;
    
    width: 98%;
    height: 500px;
    background-color: rgb(208, 91, 189);
    margin-bottom: 50px;
   
    border: 10px solid rgb(147, 200, 67);
    

}
.container3{
    display: flex;
    flex-direction: column;
    
    width: 98%;
        height: 500px;
    background-color: rgb(122, 91, 208);
    margin-bottom: 50px;
    
    border: 10px solid green;
   

}
.container4{
    display: flex;
    flex-direction: column-reverse;
    
    width: 98%;
    height: 500px;
    background-color: rgb(208, 116, 91);
    margin-bottom:  70px; 
    border: 10px solid rgb(70, 114, 195);
    
    

}

.red{
    background-color: rgb(180, 50, 72);
    width: 100px;
    height: 100px;
}
.green{
    background-color: rgb(144, 213, 144);
    width: 100px;
    height: 100px;

}
.blue{
    background-color: rgb(73, 195, 229);
    width: 100px;
    height: 100px;
    
}
.nowrap{
    background-color: aqua;
    margin-bottom: 50px;
    flex-direction: row;
    display: flex;
    border: 10px solid lightgreen;
    width: 98%;
    height: 500px;
}
.wrap{
    display: flex;
    background-color: blueviolet;
    flex-wrap: wrap;
    width: 98%;
    height: 500px;
    
    margin-bottom: 50px;
    
    border: 10px solid rgb(0, 111, 128);
}
.warpReverse{
    display: flex;
    flex-wrap: wrap-reverse;
background-color: lightskyblue ;
width: 98%;
height: 500px;
margin-bottom: 50px;
border: 10px solid lightcoral;
}
.justifyContentCenter{

    display: flex;
    background-color: aquamarine;
    width: 98%;
height: 500px;
justify-content: center;
margin-bottom: 50px;
border: 10px solid rgb(100, 181, 201);

}
.justifyContentEnd{
    display: flex;
    background-color: rgb(209, 86, 199);
    width: 98%;
height: 500px;
justify-content: end;
border: 10px solid rgb(110, 201, 100);
}
.alignItemCenter{
    display: flex;
    background-color: rgb(55, 176, 136);
    width: 98%;
height: 500px;
align-items: center;
margin-bottom: 50px;
border: 10px solid rgb(174, 100, 201);
}
.alignItemEnd{
    display: flex;
    background-color: rgb(170, 118, 72);
    width: 98%;
height: 500px;
align-items: end;
margin-bottom: 50px;
border: 10px solid rgb(100, 201, 154);
}

.alignItemStretch{
    display: flex;
    background-color: rgb(176, 55, 168);
    width: 98%;
height: 500px;
align-items: stretch;
margin-bottom: 50px;
border: 10px solid rgb(194, 201, 100);
}
.rowCenterCenter{
    display: flex;
    flex-direction: row;
    background-color: rgb(55, 128, 176);
    width: 98%;
height: 500px;
justify-content: center;
align-items: center;
margin-bottom: 50px;
border: 10px solid rgb(194, 201, 100);

}
.columnCenterCenter{
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 55, 160);
    width: 98%;
height: 500px;
justify-content: center;
align-items: center;
margin-bottom: 50px;
border: 10px solid rgb(100, 201, 139);
}
.rowStartCenter{
    display: flex;
    flex-direction: row;
    background-color: rgb(75, 176, 55);
    width: 98%;
height: 500px;
justify-content: start;
align-items: center;
margin-bottom: 50px;
border: 10px solid rgb(201, 100, 147);
}
.columnCenterEnd{
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 55, 160);
    width: 98%;
height: 500px;
justify-content: center;
align-items: end;
margin-bottom: 50px;
border: 10px solid rgb(100, 201, 139);
}
